Repository Goob-Station/Suspicion-on-Space-Station, pull requests merged in 2024-10, with the labels that each got.

#4 updates spawners + reach and centcomm
  Resources/Maps/_SSS/centcomm-sss.yml
  Resources/Maps/_SSS/reach-sss.yml
  Resources/Prototypes/_SSS/suspicion_spawners.yml
Labels: Changes: Map, No C#

#5 Put reach back into rotation
  Resources/Prototypes/_SSS/maps.yml
Labels: No C#

#6 Nerf nuclear option
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: No C#

#8 further spawner fixes & updates
  Resources/Prototypes/_SSS/suspicion_spawners.yml
Labels: No C#

#9 Traitor Item: Dehydrated Carp Box
  Resources/Locale/en-US/_SSS/store_items.ftl
  Resources/Prototypes/_SSS/Catalog/categories.yml
  Resources/Prototypes/_SSS/Catalog/sss_uplink.yml
  Resources/Prototypes/_SSS/Objects/implants.yml
  Resources/Prototypes/_SSS/Objects/store_items.yml
Labels: No C#

#10 Traitor/Detective Item + Changes: Upgradable Armour and Cheaper Wearable TC Cost
  Resources/Locale/en-US/_SSS/store_items.ftl
  Resources/Prototypes/_SSS/Catalog/sss_uplink.yml
  Resources/Prototypes/_SSS/Objects/store_items.yml
  Resources/Prototypes/_SSS/Objects/suspicion_clothing.yml
  Resources/Prototypes/_SSS/Recipes/Construction/Graphs/Clothing/suspicion_clothing.yml
  Resources/Prototypes/_SSS/tags.yml
Labels: No C#

#12 Traitor/Detective Item + Changes: Grenades
  Resources/Locale/en-US/_SSS/store_items.ftl
  Resources/Prototypes/_SSS/Catalog/sss_uplink.yml
  Resources/Prototypes/_SSS/Objects/store_items.yml
  Resources/Prototypes/_SSS/suspicion_spawners.yml
Labels: No C#

#11 Fixed: Description for Dehydrated Carps
  Resources/Locale/en-US/_SSS/store_items.ftl
  Resources/Prototypes/_SSS/Objects/store_items.yml
Labels: No C#

#14 Make "the nuclear option" trigger the timer on damage instead of instantly exploding
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: No C#

#15 Reflecting Wall Removals (for Reach)
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Labels: No C#

#17 New Central Command HQ map
  Resources/Maps/_SSS/centcomm-hq-sss.yml
  Resources/Prototypes/_SSS/maps.yml
Labels: Changes: Map, No C#

#13 Health bar
  Content.Client/UserInterface/Screens/DefaultGameScreen.xaml
  Content.Client/UserInterface/Screens/DefaultGameScreen.xaml.cs
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml.cs
  Content.Client/_SSS/UserInterface/SSSStatusUIController.cs
  Content.Client/_SSS/UserInterface/SSSStatusUISystem.cs
  Content.Client/_SSS/UserInterface/Widgets/SSSStatusGui.xaml
  Content.Client/_SSS/UserInterface/Widgets/SSSStatusGui.xaml.cs
  Content.Server/_SSS/SuspicionGameRule/SuspicionRuleSystem.Rules.cs
  Content.Server/_SSS/SuspicionGameRule/SuspicionRuleSystem.Spawning.cs
  Content.Server/_SSS/SuspicionGameRule/SuspicionRuleSystem.Utility.cs
  Content.Server/_SSS/SuspicionGameRule/SuspicionRuleSystem.cs
  Content.Server/_SSS/SuspicionRadarSystem.cs
  Content.Shared/_SSS/SuspicionGameRule/Components/SuspicionRadarComponent.cs
  Content.Shared/_SSS/SuspicionGameRule/Components/SuspicionRoleComponent.cs
  Content.Shared/_SSS/SuspicionGameRule/Components/SuspicionRuleComponent.cs
  Content.Shared/_SSS/SuspicionGameRule/SuspicionRuleEvents.cs
  Content.Shared/_SSS/SuspicionPlayerComponent.cs
  Resources/Locale/en-US/_SSS/suspicion.ftl
Labels: Changes: UI

#16 TC Changes - Cheaper and more defined pricing
  Resources/Prototypes/_SSS/Catalog/sss_uplink.yml
Labels: No C#

#18 Added more guns to CC HQ
  Resources/Maps/_SSS/centcomm-hq-sss.yml
Labels: Changes: Map, No C#

#22 1984 forceguns
  Resources/Prototypes/_SSS/suspicion_spawners.yml
Labels: No C#
