Repository Goob-Station/Suspicion-on-Space-Station, pull requests merged in 2024-12, with the labels that each got.

#33 Remove Nuclear Option from CC HQ, replace with cluster grenade
  Resources/Maps/_SSS/centcomm-hq-sss.yml
Labels: Changes: Map, No C#

#29 Fix Tests
  Content.IntegrationTests/Tests/MappingEditorTest.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
Labels: size/XS

#35 Change SSS system to use CVars instead of datafield
  Content.Server/_SSS/SuspicionGameRule/SuspicionRuleSystem.CVars.cs
  Content.Server/_SSS/SuspicionGameRule/SuspicionRuleSystem.Rules.cs
  Content.Server/_SSS/SuspicionGameRule/SuspicionRuleSystem.Spawning.cs
  Content.Server/_SSS/SuspicionGameRule/SuspicionRuleSystem.cs
  Content.Shared/_SSS/CCvar/CCVars.SSS.cs
  Content.Shared/_SSS/SuspicionGameRule/Components/SuspicionRuleComponent.cs
Labels: size/L, S: Untriaged

#34 AGPL Takes Another
  LICENSE-AGPLv3.txt
  README.md
Labels: size/L, S: Untriaged, Changes: No C#

#37 fix round end summary
  Content.Server/_SSS/SuspicionGameRule/SuspicionRuleSystem.Utility.cs
Labels: size/XS, S: Untriaged

#36 Fixes
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Client/_RMC14/Weapons/Ranged/Prediction/GunPredictionSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.AutoFire.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Revolver.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/Prediction/GunIgnorePredictionComponent.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
Labels: size/L, S: Untriaged

#43 Connect & Go Lobby
  Content.Client/MainMenu/MainMenu.cs
  Content.Client/MainMenu/UI/MainMenuControl.xaml
  Resources/Locale/en-US/main-menu/main-menu.ftl
Labels: Changes: UI, S: Untriaged, size/M

#42 Hide Unnecessary Roles
  Content.IntegrationTests/Tests/Round/JobTest.cs
  Content.IntegrationTests/Tests/Station/StationJobsTest.cs
  Content.Shared/Roles/DepartmentPrototype.cs
  Content.Shared/Roles/JobPrototype.cs
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: S: Untriaged, size/M

#48 Invisible Chasms
  Resources/Prototypes/_SSS/markers.yml
  Resources/Prototypes/_SSS/suspicion_grid_marker.yml
  Resources/Textures/_SSS/markers.rsi/chasm.png
  Resources/Textures/_SSS/markers.rsi/chasm_corner.png
  Resources/Textures/_SSS/markers.rsi/chasm_side.png
  Resources/Textures/_SSS/markers.rsi/meta.json
Labels: Changes: Sprites, size/L, S: Untriaged, Changes: No C#, S: Needs Review

#49 Jester Role
  Content.Client/_SSS/UserInterface/SSSStatusUIController.cs
  Content.Server/_SSS/SuspicionGameRule/SuspicionRuleSystem.CVars.cs
  Content.Server/_SSS/SuspicionGameRule/SuspicionRuleSystem.Rules.cs
  Content.Server/_SSS/SuspicionGameRule/SuspicionRuleSystem.Spawning.cs
  Content.Server/_SSS/SuspicionGameRule/SuspicionRuleSystem.Utility.cs
  Content.Server/_SSS/SuspicionGameRule/SuspicionRuleSystem.cs
  Content.Shared/_SSS/CCvar/CCVars.SSS.cs
  Content.Shared/_SSS/SuspicionGameRule/Components/SuspicionRoleComponent.cs
  Content.Shared/_SSS/SuspicionGameRule/SuspicionRuleEvents.cs
  Resources/Locale/en-US/_SSS/suspicion.ftl
Labels: size/L, S: Untriaged, S: Needs Review

#50 One Shot Throwing Knife
  Content.Server/Damage/Components/DamageOtherOnHitComponent.cs
  Content.Server/Damage/Systems/DamageOtherOnHitSystem.cs
  Resources/Locale/en-US/_SSS/store_items.ftl
  Resources/Prototypes/_SSS/Catalog/sss_uplink.yml
  Resources/Prototypes/_SSS/Entities/Objects/Weapons/Melee/knife.yml
Labels: S: Untriaged, size/M

#51 YAML WARRIOR PRIDE
  Content.Server/_SSS/SuspicionGameRule/SuspicionRuleSystem.Rules.cs
  Content.Server/_SSS/SuspicionGameRule/SuspicionRuleSystem.Spawning.cs
  Resources/Audio/_SSS/Effects/attributions.yml
  Resources/Audio/_SSS/Effects/homerun.ogg
  Resources/Locale/en-US/_SSS/store_items.ftl
  Resources/Prototypes/_SSS/Catalog/sss_uplink.yml
  Resources/Prototypes/_SSS/Entities/Objects/Melee/baseball_bat.yml
  Resources/Prototypes/_SSS/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/_SSS/Entities/Objects/Specific/Medical/defib.yml
Labels: size/L, S: Untriaged, Changes: No C#, Changes: Audio

#52 Invisible Tile
  Resources/Prototypes/_SSS/Entities/Objects/Misc/tiles.yml
  Resources/Textures/_SSS/Tiles/attributions.yml
  Resources/Textures/_SSS/Tiles/transparent.png
Labels: S: Untriaged, Changes: No C#

#53 Fix mappingclientsidesetup not having any permissions assigned
  Resources/clientCommandPerms.yml
Labels: size/XS, Changes: No C#

#55 Crashed Reach & WIP version of rooftops
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_SSS/crashed-reach-sss.yml
  Resources/Maps/_SSS/rooftops-sss.yml
  Resources/Prototypes/_SSS/maps.yml
Labels: Changes: Map, Changes: No C#, size/XL

#56 Map fixes and
  Resources/Maps/_SSS/reach-sss.yml
  Resources/Prototypes/explosion.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/S
